/*COMMON CSS*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}



ul,ol{
    list-style: none;
    
}

/* COMMON CSS END */


nav{
    background-image:linear-gradient(pink,rgb(166, 211, 237));
    text-align: center;
    padding: 5px 0;

}

nav ul li{
    display: inline-block;
}

nav ul li a{
    color:black;
    
    padding: 15px 25px;
    display: block;
    margin: 0 5px;
}

nav ul li:hover a{
    background-color: rgba(255,255,255,0.3);

}

nav ul li .submanu{
    position: absolute;
    border:1px solid #aaa ;
    background-color: #ebbdde;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    margin-top: 50px;
}
nav ul li .submanu li{
    display: block;
    border-bottom: 1px solid#aaa;
}
nav ul li .submanu li a{
    color: black;

}

nav ul li:hover .submanu{
    display: block;
    opacity: 1;
    visibility: visible;
    margin-top: 0;
}




